In [1]:
tuple1 = (10,20,30,40,50)
print(tuple1[::-1])

(50, 40, 30, 20, 10)

In [3]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [8]:
tuple1 = (50,)
print(tuple1)

(50,)

In [10]:
tuple1 = (10, 20, 30, 40)
a,b,c,d = tuple1
print(a,"\n",b,"\n",c,"\n",d,"\n")

10
 20
 30
 40

In [12]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [14]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = (tuple1[3],tuple1[4])
tuple2 = (tuple1[3:5])  #<-- oder so
print(tuple2)

(44, 55)

In [17]:
tuple1 = (11, [22, 33], 44, 55)
print(id(tuple1[1]))
tuple1[1][0] = 222
print(tuple1," ID:",id(tuple1[1]))

1826062535744
(11, [222, 33], 44, 55)  ID: 1826062535744

In [18]:
tuple1 = (11, [22, 33], 44, 55)
print(id(tuple1))
tuple1[0] = 222
print(tuple1," ID:",id(tuple1))

1826068881520

TypeError: 'tuple' object does not support item assignment

In [31]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))  #????????!!!!!!!!!
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [33]:
tuple1 = (50, 10, 60, 70, 50)
counter = 0
for i in tuple1:
    if i == 50:
        counter += 1
print(counter)

#oder einfacher:
print(tuple1.count(50))

2
2

In [41]:
tuple1 = (45, 45, 45, 45)
check = tuple1[0]
flag = True
for i in tuple1:
    if i != check:
        flag = False
        break
print(flag)

#oder in einer Funktion:
def checker(t):
    return all(i == t[0] for i in t)

print(checker(tuple1))

True
True